@charset "utf-8";
/* CSS Document */

body {
	background: #FAFAFA;
	width: 100%;
	margin: 0 auto;
}

#conteudo {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

#canvas {
	clear: both;
	display:flex;
}
#pontos {
	align-items: center;
	display: flex;
	justify-content: center;
	font-size:22px;
	color:darkred;
	
}

.btn-reset {
	background: #2553B0;
	color:#FFFFFF;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}
